html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  /*text-align: center;*/
}

h2 {
  font-size: 30px;
  /*text-align: center;*/
}

h3 {
  font-size: 20px;
  /*text-align: center;*/
}

h4 {
  font-size: 18px;
  /*text-align: center;*/
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00111a;

}

body {
  /*width:800px;*/
  width: fit-content;
  /*display:inline-block;min-width:100%;*/
  margin: 50px auto;
  background-color: #FFFFFF;
  padding: 10px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #79d2a6;
  text-shadow: 3px 3px 1px #f1f1f1;
}

img {
  display: block;
  /*margin: 0 auto;*/
  margin: 0 0
}

table {
  width: 100%;
  max-width: 100%;
}

.linkuri {
  text-align: right;
  font-size: 20px;
  padding-top: 3rem;
  margin: 0;
  /*padding: 20px 0;*/

  /*text-shadow: 3px 3px 1px black;*/
}

.langSel{
  color: #f1f1f1;
}

.center {
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #005ce6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
